:root {
  --c4: #c4c4c4;
  --black1: #1F1F1F;
  --blueA2: #0948A2;
  --blueD4: #4F89D4;
  --blueF9: #C1D9F9;
  --F6: #E5EDF6;
  --FC: #F7F7FC;
  --FF: #E2EFFF;
  --grey99: #929599;
}

.section__info__label {
  position: relative;
}

.section__info__label span {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 15px;
  background-image: url('../image/Search.svg');
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
}

.section__info__label {
  width: 100%;
  padding: 16px 35px;
  box-shadow: 0px 3px 10px rgba(179, 183, 200, 0.6);
  border-radius: 10px;
}

.section__info__label input {
  width: 100%;
 border: none;
 outline: none;
}

.info__list {
  display: flex;
  flex-wrap: wrap;
}

.info__item  {
  margin-top: 46px;
}


.info__btn {
  margin-right: 20px;
  padding: 16px;
  color: white;
  border-radius: 5px;
  background-color: var(--FF);
  color: black;
  cursor: pointer;
}

.info__btn:focus,
.info__btn:active,
.info__btn:hover {
  background-color: var(--blueA2);
  color: white !important;
}

.info__btn-disabled {
  background: var(--FC);
  color: var(--grey99);
  cursor: default;
  pointer-events: none;
}

.info__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: var(--blueA2)
}

.info__content__item__list {
  padding-left: 50px;
  list-style-type: disc;
  color: var(--blueD4);
}

.info3__link {
  color: var(--blueA2);
}

.info3__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.info3__item__wrap {
  display: flex;
}

.info3__item__wrap span {
  background-image: url('../image/Arrow5.svg');
  background-repeat: no-repeat;
  margin-left: 20px;
  width: 40px;
  transform: translateY(5px);
}

.info2__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.info2__item {
  display: flex;
  align-items: center;
  background: var(--FF);
  border-radius: 10px;
  padding: 15px 40px;
  cursor: pointer;
}

.info2__item:hover,
.info2__item:focus,
.info2__item:active {
  background: var(--FC);
  filter: drop-shadow(0px 3px 10px rgba(179, 183, 200, 0.6));
}

.info2__item p {
  margin-left: 26px;
}

.info2__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.info2__wrapper img {
  width: 100%;
}

.section__info4__right {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.section__info4__right__link {
  cursor: pointer;
}

.section__info4__right__item:not(:first-child) {
  margin-top: 5px;
}

.section__info4__right__link:hover,
.section__info4__right__link:focus {
  color: var(--blueA2)  !important;
}

.section__info4__left__header__date,
.section__info4__left__header__author,
.section__info4__left__header__caegories {
  color: var(--grey99);
}

.section__info4__left__header__date,
.section__info4__left__header__author {
  margin-left: 10px;
}

.section__info4__right__wrap {
  padding: 40px 65px;
  background: var(--FC);
  border-radius: 10px;
}

.section__info4__container {
  display: grid;
  grid-template-columns: 58% 34%;
  grid-gap: 90px;
}

.section__info4__right__list {
  margin-top: 22px;
}

@media (max-width: 950px) {
  .info2__list {
    grid-template-columns: 1fr 1fr;
  }

  .section__info4__container {
    grid-template-columns: 62% 37%;
    grid-gap: 10px;
  }
}

@media (max-width: 768px) {
  .info2__list {
    grid-template-columns: 1fr;
  }

  .info2__wrapper {
    grid-template-columns: 1fr;
  }

  .info2__wrapper img {
    display: none;
  }

  .section__info4__right__wrap {
    padding: 40px 20px;
  }
}

@media (max-width: 500px) {
  .section__info4__right__wrap {
    padding: 20px 5px;
    grid-gap: 0;
  }
}